.pagecontainer{
  margin: auto;
  width: 100vw;
  overflow-x: hidden;
}

section{
  width: 100%;
}

header{
  background-color: #582f2c;
  height: auto;
  padding: 2rem;
  padding-bottom: 0;
  text-align: center;
  width: calc(100% - 4rem);
}

.logo{
  float:top;
  height: 12vw;
  width: auto;
}


nav {
  text-align: center;
}

nav ul{
  background-color: #582f2c;
  list-style-type: none;
  width: 100%;
  height: auto;
  text-align: center;
  padding: 0px;
  margin: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* styling each list component in the navigation bar */
nav ul li{
  background-color: #582f2c;
  width: 100%;
  border-right: 1.2px solid rgb(157, 219, 230);
  border-bottom: 1.2px solid rgb(157, 219, 230) !important;
  text-align: center;
  transition: filter 0.25s;
  user-select: none;
}

nav ul li:first-child{
  margin-top: 0rem;
}

nav ul li:last-child{
  border-right: 0px solid rgb(157, 219, 230);
  border-bottom: 0px solid rgb(157, 219, 230) !important;
}

/* styling the text inside each component in the navigation bar */
nav ul li a{
  text-decoration: none;
  color: #bdf5ff;
  display: inline-block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 100%;
}

nav ul li:hover{
  filter: brightness(0.8);
}


/******************* HOME *****************/

#homecontainer{
  margin: auto;
  width: 100vw; 
  height: calc(100vh - 200px);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}


#homecontainer h1{
  color: white;
  font-size: 3.5em;
  font-family: 'Nunito', sans-serif;
  text-align:center;
  vertical-align: center;
  line-height: 4rem;
  padding-top:6rem;
  padding-bottom: 6rem;
  text-shadow: 0px 0px 20px black;
}


.forestcontainer {
  width: 100vw;
  height: 100%;
  display: flex;
  align-items: center;
  background-image: url("forest.jpg");
  background-size: cover;
  justify-content: center;
}



/***************** ABOUT ******************/
#aboutcontainer{
  padding-top:2rem;
  padding-bottom:1rem;
}

.whoweare{
  margin:3rem;
}


.whoweare p{
  text-align: left;
}


#aboutcontainer img{
  height:60vw;
  width: auto;
  padding: 5px;
  text-align: center;
}

.aboutimages{
  text-align:center;
}


/************* TEAMS ************/


#teamscontainer{
  background: white;
  margin:0;
  padding-bottom:1rem;
}

.teamscontainercontainer{
  margin: 3rem;
  padding-top: 2rem;
  padding-bottom:2rem;
}


#teamscontainer h1{
  text-align: center;
  padding:0;
  margin-bottom:1rem;
}

#teamscontainer h2{
  color: #582f2c;
  text-align: center;
}

#teamscontainer p{
  font-size: 1.3em;
  text-align: center;
}

.teamsflexbox{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: calc(100%-6rem);
}

.teambox{
  width: calc(100%-6rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}

.teambox img{
  height: 25vw;
  width: auto;
  padding-bottom: 2rem;
  padding: 2rem;
}

.teambox img:hover{
  opacity: 0.5;
  filter: alpha(opacity=40);
}


.teamlinks{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.teamlinks a{
  text-decoration: none;
  background-color: #582f2c;
  color: white;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 25px;
}

.teamlinks a:hover{
  color:#582f2c;
  background:rgb(140, 214, 227);
  border: 1px solid #582f2c;
}

hr{
  width: 85%;
}


/**************** EVENTS ***************/


.eventscontainer{
  background: rgb(151, 211, 193);
  margin:0;
  padding-top: 1rem;
  padding-bottom: 3rem;
}

.eventscontainercontainer{
  margin: 2rem;
}

.calendar{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.eventscontainer h1{
  text-align: center;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

iframe{
  display: flex;
  text-align: center;
}



/*************** CONTACT **************/


#contactcontainer{
  background-color: #582f2c;
  padding-top: 1rem;
  padding-bottom: 3rem;
}

.contactcontainercontainer{
  margin: 3rem;
}

#contactcontainer h1{
  text-align: center;
  color: rgb(140, 214, 227);
  margin-bottom: 0;
}

#contactcontainer a{
  text-decoration: none;
  color: rgb(140, 214, 227);
}

.icons{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  text-align: center;
}

.icons a{
  font-size: 25px;
  width: 10%;
}

.icons i:hover{
  opacity: 0.5;
  filter: alpha(opacity=40);
}

.formcontainer{
  display: block;
  text-align: center;
}

form{
  display: inline-block;
  margin-top: 2rem;
  transition: all 4s ease-in-out;
  width: 80%;
}

.inputclass{
  width: 100%;
  background: transparent;
  border:none;
  outline: none;
  border-bottom: 1px solid rgb(140, 214, 227);
  font-size: 16px;
  margin-bottom: 1rem;
}

#message{
  height: 150px;
}

input[type="text"]{
  color:rgb(140, 214, 227);
}

textarea[type="text"]{
  color:rgb(140, 214, 227);
}

input{
  height: 40px;
}

#submit{
  background: rgb(140, 214, 227);
  font-size: 20px;
  color: #582f2c;
  margin-top: 1rem;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  border-radius: 20px;
  width: 25vw;
}

#submit:hover{
  background:#582f2c;
  color:rgb(140, 214, 227);
  border: 1px solid rgb(140, 214, 227);
  cursor: pointer;
}


/*************Typography***************/

body{
  font-family: 'Nunito', sans-serif;
  background: rgb(157, 219, 230);
  padding:0;
  margin: 0;
}

h1{
  font-size: 2.2em;
  padding-bottom: 2rem;
}


p{
  font-size: 1.5em;
  line-height: 2rem;
}




/*************Responsive for larger screens***************/

@media only screen and (min-width: 900px) {

  header{
    background-size: 100% auto; /* auto vertically, fills up full space horizontally */
  }

  nav {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }

  nav ul{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }

  nav ul li{
    width: 20rem;
    text-align: center;
    border-right: 0px solid grey;
    border-bottom: 0px solid rgb(157, 219, 230) !important;
  }

  nav ul li:last-of-type{
    border-right: none;
  }

  #aboutcontainer{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .whoweare{
    width:40%;
  }

  .whoweare p{
    text-align:justify;
  }

  #aboutcontainer img{
    max-width: 100%;
    max-height:60vh;
    padding:1rem;
  }

  .aboutimages{
    flex-basis: 40%;

  }

  .teamsflexbox{
    flex-direction: row;
    flex-wrap:nowrap;
    width: calc(100%-6rem);
  }

  .teambox{
    display: flex;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
    width: calc(100% - 6rem);
    margin: 0;
  }


  hr{
    display: none;
  }

  .teambox img{
    height: 8vw;
    width: auto;
    padding-bottom: 2rem;
  }


  .logo{
    height: 7vw;
    width: auto;
  }

  .icons{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
  }
  
  .icons a{
    font-size: 25px;
    width: 7%;
  }

  form{
    width: 60%;
  }
  
  #submit{
    width: 10vw;
  }

}

@media only screen and (min-width: 1200px){

  .teambox{
    display: flex;
    text-align: center;
    padding-left: 3rem;
    padding-right: 3rem;
    width: calc(100% - 6rem);
  }
  
}

